@import "./custom-properties.css";

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-black);
  color: var(--color-white);
  margin: 0;
}

/* html,
body,
body > div,
body > div > div {
  height: 100%;
} */

.header-module--root--2tx-i {
  position: sticky !important;
  top: 0 !important;
  background: var(--color-black) !important;
}

.container-module--root--3L_T4,
.layout-module--content--i0A67 {
  background: var(--color-dark-gray) !important;
}

.blog-post-preview-module--inList--2fZz9.blog-post-preview-module--root--ewoM3,
.blog-post-preview-module--leadMediaThumb--1muTE {
  transition: all 1s !important;
}
.blog-post-preview-module--leadMediaThumb--1muTE img {
  transition: all 1s !important;
}
.blog-post-preview-module--inList--2fZz9.blog-post-preview-module--root--ewoM3:hover
  .blog-post-preview-module--leadMediaThumb--1muTE {
  box-shadow: 0px 50px 60px var(--color-black) !important;
  border-radius: 100px 0px 0px 0px !important;
  z-index: 10 !important;
}

.blog-post-preview-module--inList--2fZz9.blog-post-preview-module--root--ewoM3:hover
  .blog-post-preview-module--leadMediaThumb--1muTE
  img {
  border-radius: 100px 0px 0px 0px !important;
}
